.class-delete{
    background: red;
    color: black;
    border-radius:10%;
    outline: none;
    border: 0;
    cursor: pointer;
    /*padding: 20px 36px;*/ padding: 0.5rem 1rem; 
    margin-right:10px;
    font-size: 20px;
}